<h1>Station Map</h1>

<div>
  <% @stations.each do |station| %>
    <%= station.name %>
    <% station.events.each do |event| %>
      <%= event.name %>
    <% end %>
    <%= link_to "Add Event", new_station_event_path(station) %>
  <% end %>
</div>
